@mixin spread {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin extrude($depth: 16, $color: black) {
    $shadow: ();
    @for $i from 0 to $depth {
        $shadow: append($shadow, #{$i + px} #{$i + px} 0 $color, comma);
    }
    box-shadow: $shadow;
}
