@import './normalize';
@import './variables';
@import './fonts';

:global {
    * {
        box-sizing: border-box;
    }

    *::selection {
        color: $lunar;
        background: rgba($miami, 0.8);
    }

    body {
        font-family: $futura;
        font-size: 16px;
        background-color: $deep;
        color: $deep;
    }
    p {
        font-size: 1.7rem;
        line-height: 1.55;
    }

    h1,
    h2,
    h3 {
        color: $lunar;
        font-weight: $regular;
    }
}
