@import './variables';
@import './mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

*::selection {
  color: $lunar;
  background: rgba($miami, 0.8);
}

html {
}

body {
  font-family: $futura;
  background-color: $deep;
  color: $deep;
  transition: opacity 200ms;
}
