//
// Layouts
// ---------------------------

@import "layouts/application";
@import "layouts/main";
@import "layouts/navigation";

.container {
    display: flex;
    justify-content: flex-start;
}

.wrapper {
    padding-right: $sitePadding;
    padding-left: $sitePadding;
}

@include mobile {
    .wrapper {
        padding-right: $sitePaddingMobile;
        padding-left: $sitePaddingMobile;
    }
}

@include desktop {
    .wrapper {
        padding-right: $sitePaddingDesktop;
        padding-left: $sitePaddingDesktop;
    }
}
