//
// Root
// ---------------------------

@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    font-size: 13px;
}

@include tablet {
    html,
    body {
        font-size: $baseFontSize;
    }
}

@include largeDesktop {
    html,
    body {
        font-size: 16px;
    }
}

body {
    font-family: $baseFontFamily;
    font-weight: $medium;
    color: $textColor;
    background-color: $bodyBackground;
}
