{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "react/jsx-indent-props": [2, 4]
    },
    "globals": {
        "Promise": true,
        "TweenLite": true,
        "Power0": true,
        "Power1": true,
        "Power2": true,
        "Elastic": true,
        "Circ": true,
        "Linear": true
    }
}
