@import '../../../sass/variables';
@import '../../../sass/mixins';

.root {
    position: relative;
    height: 140vh;
    background-color: $club;
}

.inner {
    @include spread;
    z-index: 1;
}

.copy {
    display: block;
    margin: 10% auto 0 auto;
    width: 60%;
    color: $ghost;
    p {
        font-size: 2rem;
    }
}

.container {
    @include spread;
}
