@import '../../../sass/variables';
@import '../../../sass/mixins';

.root {
    position: relative;
    height: 110vh;
    background-color: $club;
}

.inner {
    @include spread;
}

.container {
    @include spread;
}
