//
// Page: Projects
// ---------------------------

.page-projects {
    @extend .wrapper;
    padding-top: 6em;

    .project-listing {
        .big-link {
            @extend h1;
            word-wrap: break-word;
        }
        a {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}
