@use '../sass/variables' as *;
@use '../sass/mixins' as *;

.levelComplete {
  @include spread;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $teal;
}

.details {
  margin: 0 auto;
}

.start {
  margin: 0 auto;
  @include button;
}
