@use 'sass:math';
@use '../sass/variables' as *;
@use '../sass/mixins' as *;

$scoreWidth: 190px;
$playerWidth: 240px;

.scoreInterface,
.playerInterface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgba($plum, 0.8);
  right: 50%;
  z-index: 1000;

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $bold;
  letter-spacing: 0.05rem;
  color: $ghost;
}

.playerInterface {
  width: $playerWidth;
  margin-right: math.div(-$playerWidth, 2);
  padding: 0.4rem 1rem 0.5rem 1rem;
  border-radius: 0 0 0.8rem 0.8rem;

  .lives .type {
    color: $lavender;
  }
}

.scoreInterface {
  bottom: 0;
  width: $scoreWidth;
  margin-right: math.div(-$scoreWidth, 2);
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 0.5rem 1rem 0.4rem 1rem;

  .kills .type {
    color: $miami;
  }
  .points .type {
    color: $softy;
  }
}

@include tablet {
  $scoreWidth: 260px;
  $playerWidth: 340px;
  .playerInterface {
    width: $playerWidth;
    margin-right: math.div(-$playerWidth, 2);
  }

  .scoreInterface {
    width: $scoreWidth;
    margin-right: math.div(-$scoreWidth, 2);
  }
}
