@import '../../../sass/variables';
@import '../../../sass/mixins';

.root {
    position: relative;
    height: 110vh;
    background-color: $softy;
}

.inner {
    @include spread;
    overflow: hidden;
}

.container {
    @include spread;
}

.ok {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 40vmax;
    color: $fab;
    text-shadow: -5vmax 0 0 $deep;
    line-height: 0.67;
    text-align: center;
    z-index: 1;
}
