@import 'sass/variables';
@import 'sass/mixins';

.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: $miami;
}

@include tablet {
  .welcome {
    padding: 3rem;
  }
}
