@use '../../../../the-damn-game/game/sass/variables' as *;
@use '../../../../the-damn-game/game/sass/mixins' as *;

.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: $miami;
}

@include tablet {
  .welcome {
    padding: 3rem;
  }
}
