@import '../../sass/variables';
@import '../../sass/mixins';

$plum: #403b4f;
$night: #635e7f;
$teal: #32aba8;
$peach: #f6d0d0;
$salmon: #ce8284;

:local(.pageResume) {
    padding: 1rem;
    background-color: #f3f3f3;
}

:local(.footer) {
    padding: 2rem;
    text-align: center;
}

:local(.eye) {
    display: inline-block;
    width: 3rem;
    fill: $plum;
}

:local(.resume) {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 76rem;
    background-color: #ffffff;
    color: $plum;

    h1 {
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
        margin-top: 5rem;
        margin-bottom: 3rem;
        color: $teal;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid $peach;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }
    li {
        list-style-type: disc;
    }

    small {
        font-size: 1.1rem;
    }

    p,
    li {
        color: $night;
        font-size: 1.3rem;
        font-weight: 400;

        strong {
            color: $plum;
        }
    }
    a {
        color: $teal;

        &:hover {
            color: $salmon;
        }
    }
}

:local(.content) {
    width: 100%;
    > p:first-of-type {
        font-size: 1.6rem;
    }
    ul {
        margin: 2rem 0;
        padding-left: 2rem;
    }
}

:local(.avatar) {
    width: 7rem;
    height: 7rem;
    border-radius: 3.5rem;
    overflow: hidden;
    img {
        display: block;
    }
}

:local(.info) {
    width: 100%;

    ul {
        margin: 1rem 0 2rem 1.5rem;
        li {
            font-size: 1.3rem;
        }
    }
}

:global {
    @include tablet {
        :local(.pageResume) {
            padding: 4%;
        }

        :local(.resume) {
            padding: 4rem;
            display: flex;
            flex-flow: row nowrap;
            h1 {
                font-size: 2.2rem;
            }
            h2 {
                font-size: 1.9rem;
            }
            h3 {
                font-size: 1.8rem;
            }
            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1.4rem;
            }
            .two-column {
                margin: 2rem 0;
                columns: 2;
                column-gap: 3rem;
                list-style-type: disc;
            }
        }

        :local(.content) {
            width: 66%;
            flex-shrink: 0;

            > *:first-child {
                margin-top: 0;
            }
        }

        :local(.info) {
            width: 33%;
            margin-right: 4rem;
        }
    }
}
