@import '../../sass/mixins';
.page-resume {
  .list {
    display: flex;
    margin-bottom: 2rem;
  }
  .small p {
    font-size: 1.1rem;
  }
}

@include tablet {
  .page-resume {
    .list {
      display: block;
      margin-top: 3rem;
      margin-bottom: 0;
    }
    .two-column {
      margin: 2rem 0;
      columns: 2;
      column-gap: 3rem;
      list-style-type: disc;
      ul {
        margin: 0;
      }
    }
  }
}
