@property --solid {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 1);
  inherits: false;
}

@property --transparent {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 0);
  inherits: false;
}

.hideMask {
  /* change the transparent color to solid */
  --transparent: rgba(0, 0, 0, 1);
}

.mask {
  /* transition the mask-image color */
  transition: --transparent 1s;

  mask-image: linear-gradient(
    to bottom,
    var(--solid) calc(100% - 150px),
    var(--transparent) calc(100% - 50px)
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
