@import 'sass/variables';
@import 'sass/mixins';

.gameIntro {
  @include spread;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $club;
  color: $fab;

  p {
    color: $ghost;
  }
}

.start {
  margin: 0 auto;
  @include button;
}
