@import 'sass/variables';

$scoreWidth: 200px;
$playerWidth: 320px;

.scoreInterface,
.playerInterface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba($plum, 0.8);
    right: 50%;
    z-index: 1000;
}

.playerInterface {
    width: $playerWidth;
    margin-right: -$playerWidth / 2;
    padding: 0.4rem 1rem 0.5rem 1rem;
    border-radius: 0 0 0.8rem 0.8rem;

    .lives .type {
        color: $lavender;
    }
}

.scoreInterface {
    bottom: 0;
    width: $scoreWidth;
    margin-right: -$scoreWidth / 2;
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 0.5rem 1rem 0.4rem 1rem;

    .kills .type {
        color: $miami;
    }
    .points .type {
        color: $softy;
    }
}

.kills,
.points,
.hitPower,
.lives,
.shieldPower {
    font-weight: $bold;
    color: $ghost;
    text-transform: uppercase;
}
