@import 'sass/variables';

:local(.canvas) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

:local(.pauseBtn) {
    display: block;
    position: fixed;
    right: 2rem;
    top: 2rem;
    padding: 0.6rem 1rem;

    border: 2px solid $deep;
    color: $deep;
    font-size: 1.4rem;
    text-decoration: none;

    cursor: pointer;
    z-index: 100;

    &:hover {
        color: $pepto;
        background: $deep;
    }
}
