//
// Route Transition
// ---------------------------

.route-transition {
    &.is-wiping {
        overflow: hidden;
    }

    .wipe {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000; // covers all the things!
    }

    .transition-entering {
        display: none;
    }
    .transition-exiting {}
}
