@import 'sass/variables';

.eyeButton {
  width: 3.8rem;
  height: 3.8rem;
  line-height: 0;
  // border-radius: 2rem;
  // border: 2px solid transparent;
  box-shadow: 0 0 0 0 transparent;
  transition: background 150ms $easeIn, box-shadow 150ms $easeIn,
    transform 300ms $easeOut;

  &.eyeActive,
  &:hover {
    // border-color: $plum;
    background-color: $cream;
    box-shadow: 0.5rem 0.5rem 0 0 $deep;
    transform: scale(1.05);

    .headerEye {
      fill: $deep;
    }
  }
  &.eyeActive {
    background-color: $peach;
  }

  .headerEye {
    display: inline-block;
    width: 2.6rem;
    // fill: $plum;
  }
}
