//
// Navigation
// ---------------------------

.top-nav {
    @extend .wrapper;
    @extend .container;
    position: relative;
    padding-top: $sitePadding;
    padding-bottom: $sitePadding;
    z-index: 100;
    a {
        flex: 0 0 auto;
        align-self: center;
        margin-right: 1em;
        font-size: 1.5em;
    }
    .selected {
        &, &:hover {
            color: $black;
            text-decoration: none;
            cursor: default;
        }
    }
    .logo {
        span {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            @include hide-text;
        }
        svg {
            margin-top: 0.3em;
            width: 50px;
            height: 25px;
            fill: $textColor;
        }
    }
}

@include mobile {
    .top-nav {
        padding-top: $sitePaddingMobile;
        padding-bottom: $sitePaddingMobile;
    }
}

@include desktop {
    .top-nav {
        padding-top: $sitePaddingDesktop;
        padding-bottom: $sitePaddingDesktop;
    }
}
