//
// Hero
// ---------------------------

.project-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10em 0;
    min-height: 100vh;

    h1 {
        margin: 0;
        font-size: 20vmin;
        span {
            position: relative;
            display: block;
            margin-right: 100%;
        }
    }

    .bg {
        @extend %spread;
        z-index: -1;
    }
}
