@import '../../../sass/variables';
@import '../../../sass/mixins';

@keyframes playIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes tvIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  80% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.play {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  margin: 1rem auto 0 auto;
  background-color: $plum;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  font-weight: $bold;
  text-decoration: none;

  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;

  z-index: 100;

  transition: transform 300ms $easeOut;
  animation: playIn 2s $easeOutQuint 0s 1 forwards;

  &:hover {
    background: $deep;
    transform: scale(1.05);
  }
}

.playKill {
  display: block;
  font-size: 1.2rem;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  color: $pepto;
  animation: tvIn 2s $easeOutQuint 0s 1 forwards;
}

.playTv {
  display: block;
  line-height: 0.9;
  font-size: 2rem;
  color: $fab;
  animation: tvIn 2s $easeOutCubic 0s 1 forwards;
}

.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;

  background-color: $miami;

  .copy {
    padding: 2rem;
    background-color: $ghost;
    max-width: 46rem;
    box-shadow: 0.5rem 0.5rem 0 0 $deep;
  }

  p,
  li {
    @apply text-night;
    @apply text-xl md:text-2xl;

    strong {
      @apply text-plum;
    }
  }
  a {
    @apply text-teal;

    &:hover {
      @apply text-salmon;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.8rem;
    font-style: normal;
    margin-bottom: 2rem;
  }
  a {
    color: $miamiOld;
    @apply underline;

    &:hover {
      color: $club;
    }
  }
}

@include tablet {
  .welcome {
    padding: 3rem;

    .copy {
      padding: 1rem 2rem;
    }
  }
}
